* {margin:0; padding: 0; box-sizing: border-box; }
#Conteudo p{
    opacity: 0;
}

#Conteudo {
    background-color: red;
    width: 300px;
    height: 50px;
    overflow: hidden;
    padding: 20px;
    /*box-shadow: 10px 10px 5px green;*/
    /* hidden corta o texto fora da box */
}

#Conteudo2 {
    background-color: green;
    width: 400px;
    height: 50px;
    padding: 20px;
    overflow: scroll;
    /* scroll é barra de rolagem */

    /*box-shadow: 5px 5px 10px blue;*/
}