* {margin:0; padding: 0;}

p {
    color: red;
    text-align: justify;
    text-transform:uppercase;
    letter-spacing: 5px;
    text-shadow:rgb(98, 0, 255) 2px 2px
}

#text2 {
    color: rgb(0, 255, 98);
    text-align:right;
    text-transform:lowercase;
    background-color: olivedrab;
    letter-spacing: 10px;
}

#text3 {
    color: rgb(98, 0, 255);
    text-align:left;
    text-transform:capitalize;
    background-color: black;
    letter-spacing: 15px;
}

h1 {
    text-align: left; 
    color: green;
    text-decoration: underline;
}

h2 {
    text-align: right;
    color: blue;
    text-decoration:overline;
}

h3 {
    text-align: center;
    color: aqua;
    text-decoration: line-through;
}

